

.body {
    background-color: black;
    width: 100%;
    height: 100vh;
}


/* image row */

.image {
    width: 100%;
    height:350px;
}

.image-div {
    display: flex;
    justify-content: space-around;
}

.bulb-image {
    height: auto;
    width: 450px;

    margin-left: 10px;

}



/* button row */

.footer {
    position: relative;
    top: 150px;
    width: 100%;
    margin: 0px;

}

.button-div {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;

}

.on-button {
    color: white;
    background-color: rgb(3, 3, 3);
    height: 100px;
    width: 150px;
    text-align: center;
    font-size: 50px;
    border: none;
    flex: 1;

}

.on-button:focus {
    outline: none;

}






/* light row */



.light-row {
    position: absolute;
    top: 200px;
    width: 100%;
}

.light-div {
    display: flex;
    justify-content: space-around;
}

.light {
    top: 200px;
    left: 190px;
    height: 105px;
    width: 105px;
    background-image: radial-gradient(#eeebdc, #e7e5dd, #ebe9e1, #ddd9ccae);
    border-radius: 70px;
    opacity: 1;
    box-shadow: 0px 0px 90px white;
    z-index: 1;
}



.swipe-container{
height:100px;
}
.swipe-div{
    display: flex;
    justify-content: space-around;
}
.swipe{
    margin-left:-30px;
    height:300px;
}






/* 
@media screen and (max-width: 320px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 600px) {
 
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 1200px) {

}

@media only screen and (min-width: 1280px) {
    body{
        height:100vh;
    }
    .light{
        position: absolute;
        top:200px;
        left:45.9%;
    }
    .bulb-image{
        position: absolute;
        left:32.5%;
    }
    .button-on{
        position:absolute;
        top:700px;
        left:590px;
       
       
    }
    
      
} */