.body{
    background-color: black;
    
}
.bulb-image{
    position: absolute;
    left:5.5%;
    height: auto;
    width: 450px;
    margin:0px 0px 0px ;
}
.light{
   visibility: hidden;
    position: absolute;
    top:198px;
    left:39.5%;
    height:105px;
    width:105px;
    background-image: radial-gradient(#eeebdc,#e7e5dd,#ebe9e1,#ddd9ccae);
    border-radius: 70px;
    opacity: 1;
    box-shadow: 10px 10px 100px white;
    z-index: 1;
}
.button-on{
    position:absolute;
    top:700px;
    left:200px;
  
}
.on-button{
    color:white;
    background-color: rgb(3, 3, 3);
    height:100px;
    width:100px;
    border-radius: 50%;
    text-align: center;
 
    font-size: 50px;
  
    border:none;
}


.off-div{
    position: absolute;
    top:0px;
    height:70%;
    width: 100%;
}

@media only screen and (min-width: 1280px) {
    .light{
        position: absolute;
        top:200px;
        left:45.9%;
    }
    .bulb-image{
        position: absolute;
        left:32.5%;
    }
    .button-on{
        position:absolute;
        top:700px;
        left:590px;
       
       
    }
    
      
}
